.first_sctn {
    display: flex;
    margin-bottom: 50px;
    margin-top: 10%;
}

#header {
    font-family: 'Domine', serif;
    font-weight: 600;
    font-size: 60px;
    color: brown;
    border-left: goldenrod solid 8px;
}

.half_width {
    font-family: 'ABeeZee', sans-serif;
    width: 50%;
    padding: 10px;
    margin-right: 0px;
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 0%;


}

.half_width img {
    padding-left: 10px;
    height: 50%;
    margin-top: 10%;
    border: 10px solid;
    border-color: goldenrod green;
    border-radius: 10px;

}

.color_text {
    color: palegreen;
}

.link_button {
    background-color: greenyellow;
    color: maroon;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 40px;
}

.sctn_heading {
    font-family: 'ABeeZee', sans-serif;
    font-size: 50px;
    text-align: center;
    font-weight: 800;
    margin: 0%;
    padding: 1px
}


.scnd_sctn {
    display: flex;
    margin-right: 60px;
    margin-left: 10%;

    margin-top: 50px;

}

.three_column {
    font-family: 'Domine', serif;
    margin-bottom: 30%;
    width: 25%;
    margin: 10px;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;



}

.three_column img {
    height: 40%;
    width: 40%;
}

#mission {
    background-color: blanchedalmond;
    margin-left: 30px;

}

#vission {
    background-color: palegreen;
}

#goals {
    background-color: powderblue;
}

.develop {
    font-family: 'Domine', serif;
    width: 60%;
    margin-right: 30px;
    padding-right: 50px;
    padding-left: 30px;


}

h2 {
    font-size: 40px;
}

.develop img {
    margin-left: 30%;
}

.global {
    font-family: 'Domine', serif;
    width: 50%;
    margin-left: 20px;
    padding-left: 50px;
}

.global img {
    height: 70%;
    padding-left: 20%;
}

.service {
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: left right;
    font-family: 'Domine', serif;
    font-weight: 300;
    text-align: center;
    margin-bottom: 20%;


}

footer {
    color: cornsilk;
    background-color: brown;
    font-family: 'Domine', serif;
    text-align: center;
}